<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs.activity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainUserActivity">

        </activity>
        <activity android:name=".LoginActivity" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".SearchGoodsActivity" />
        <activity android:name=".MainAdminActivity" />
        <activity android:name=".ShowMsgActivity" />
        <activity android:name=".PublishGoodsActivity" />
        <activity android:name=".GoodsListManageActivity" />
        <activity android:name=".UserListActivity" />
        <activity android:name=".ShopCarActivity" />
        <activity android:name=".ShopProfitActivity" />
        <activity android:name=".PublishInfoActivity" />
        <activity android:name=".InfosListActivity" />
        <activity android:name=".ChangeUserInfoActivity" />
        <activity android:name=".MainUserMenuActivity" />
        <activity android:name="com.cs.zxing.android.CaptureActivity" />
    </application>

</manifest>